[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/next"]
	path = themes/next
	url = git@github.com:hugo-next/hugo-theme-next.git
